.App {
    /*text-align: center;*/
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*custom css*/

body {
    background: linear-gradient(90deg, rgba(36, 36, 42, 1) 0%, rgba(66, 66, 71, 1) 50%, rgba(93, 93, 93, 1) 100%);
}

.container {
    width: 70%;
    /*background-color: gray;*/
    margin-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.padd {
    padding: 15px;
}

.search-field {
    width: 80%;
    height: 40px;
    font-size: 18x;
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
    text-indent: 20px;
}

.input-group {
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
}

.btn {
    width: 17%;
    background-color: rgb(4, 100, 211);
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.movie {
    padding: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.poster {
    height: 600px;
    width: 30%;
    overflow: hidden;
}

.details {
    width: 65%;
}

.img-poster {
    width: 100%;
    height: 600px;
}

.padd p {
    font-size: 20px;
}

h1,
h2,
h3 {
    margin: 0px;
}

.ratings {
    display: flex;
}

.ratings>div {
    margin-right: 40px;
}